header{
    width:90%;
    margin:auto;
    overflow: hidden;
    padding-top: 20px;
}
.logo{
    width:20%;
    float: left;
}
nav{
float: right;
width: 70%;
}
nav ul{
    list-style: none;
    float: right;
    margin: 10px;
}
nav ul li{
float:left;
font-size: 14px;
margin-left: 10px;
color: #707070;
}
.banner{
    width: 90%;
    margin:auto;
    margin-top: 50px;
}
.banner img{
    width: 100%;
}
.photodairy{
    width:80%;
    margin:auto;
    margin-top: 70px;
}
.photodairy h6{
    font-size: 14px;
    text-transform: uppercase;
    color:#d6d2cb;
    margin: :0;
    margin-bottom:15px;
    margin-top: 10px;
}
.photodairy h1{
font-size: 28px;
color:#626262;
}
.photodairy p{color:#626262;margin-bottom: 40px;}
 .lifestyle{

margin: auto;

margin-top: :70px;

width: 80%;

margin-top: 100px;

overflow: hidden;
}
 .life_style_one{
 width: 48%;
 float: left;
 }
 .life_style_one img{

width: 100%;
}
 .life_style_one h6{
     margin: 0px;
     color: #d6d2cb;
     margin: 30px 0px 20px;
     font-size: 14px;
}
 .life_style_one h1{
     color: #626262;
     margin: 0px;
     margin: 15px 0px;
    }
 .life_style_one p{color: #626262;margin-top: 10px;}
 .life_style_two{
     width: 48%;
     float: right;}
.life_style_two img{
width: 100%;
}
.life_style_two h6{
    font-size: 14px;
    margin: 0px;
    color: #d6d2cb;
    margin: 30px 0px 20px;
}
.life_style_two h1{
    color: #626262;
    margin: 0;
    margin: 15px 0px;
}

.life_style_two p{
    color: #626262;
    margin: 10px 0px 16px;
}
.photodiary{

width: 80%;

margin: auto;

margin-top: 100px;

overflow: hidden;

}
    .photodiary_one{
        width: 48%;
        float: left;}
    .photodiary_one img{
        width:100%;
    }
    .photodiary_one h6{
    
    color: #d6d2cb;
    
    text-transform: uppercase;
    }
    .photodiary_one h1{
    
    color: #626262;
    }
    .photodiary_one p{
    
    color: #626262;
    }
    .photodiary_two{
        width: 48%;
        float: right;
    }
    .photodiary_two img{
        width:100%;
    }
    .photodiary_two h6{
    
    color: #d6d2cb;
    
    text-transform: uppercase;
    }
    .photodiary_two h1{
    
    color: #626262;
    }
    .photodiary_two p{
    
color: #626262;
    
margin: 10px 0px 16px;
    }
    .newsletter{

background-color: #f0f0f0;

padding: 50px 0px;

margin: 70px 0px;
}
    .signup{

width: 22%;

margin: auto;

position: relative;

}
    .signup h1{

color: #333333;
margin-bottom: 50px;
font-size: 28px;

}
    .signup input{

background-color: transparent;

border: none;

border-bottom: 1px solid #000000;

width: 100%;

}
    .signup img{
    }
    .img{
right: 0;
bottom: 0;
        
position: absolute;
    }
    .lifestyles{
overflow: hidden;
        margin: auto;
        
        margin-top: 70px;
        
        width: 80%;
        
        margin-top: 70px;
        }
         .life_styles_one{
         width: 48%;
         float: left;
         }
         .life_styles_one img{
        
        width: 100%;
        }
         .life_styles_one h6{
             font-size: 14px;
             margin: 0px;
             color: #d6d2cb;
             margin: 20px 0px;
        }
         .life_styles_one h1{
             color: #626262;
             margin: 0px;
             margin: 15px 0px;
            }
         .life_styles_one p{
        color: #626262;
        }
         .life_styles_two{
             width: 48%;
             float: right;}
        .life_styles_two img{
        width: 100%;
        }
        .life_styles_two h6{
            margin: 0px;
            color: #d6d2cb;
            margin: 20px 0px;
            font-size: 14px;
        }
        .life_styles_two h1{
            color: #626262;
            margin: 0;
            margin: 15px 0px;
        }
        
        .life_styles_two p{
            color: #626262;
            margin: 20px 0px;
        }
        .btn{
text-align: center;
margin: 100px 0px;
        }
        button{
background: transparent;
border:none;
border: 1px solid #626262;padding: 20px 25px;
  font-size: 18px; 
}
footer{

background-color: #f0f0f0;
padding:50px 0px;
margin-top: 200px;
}
.footer_content{

margin: auto;
padding:0;

width: 80%;

overflow: hidden;
}
.terms{
float:left;
width:20%;

color: #000000;
}
.terms ul{
padding: 0; 
margin:0;
float: left;

list-style: none;
}
.terms ul li{

float: left;

margin-right: 14px;
}
.social{
width: 40%;
float: right;
}
.social ul{
margin:  0;
padding: 0;

list-style: none;
float: right;
color: #626262;
}
.social ul li{

float: left;
text-decoration: none;
margin-left: 15px;
}
.social ul li a{
  font-size: 14px;  
text-decoration: none;
}